<h1>L'association Terres et Cultures Solidaires vous souhaite la bienvenue</h1>

<p>
    Merci de confirmer votre adresse mail en cliquant sur le lien suivant: <br><br>
    <a href="{{ signedUrl }}">Confirmer mon adresse mail</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>
<img src="https://i.servimg.com/u/f41/13/56/84/37/cube210.png" alt="" >
<p>
    Merci de votre intérêt pour notre Association.<br>
    L'Équipe de Terres et Cultures Solidaires.
</p>
