*{
    margin: 0;
	padding: 0;
	border: 0;
}

body{
    background-color: #FAF7F5;
}

p{
    font-family: 'Zen Maru Gothic', sans-serif;
}

.img_logoAccueil{
    width: 25% !important;
}
@media only screen and (max-width: 600px) {
    .img_logoAccueil{
        display: none;
    }
}

/* ACCUEIL*/

.titre{
    font-family: 'Kalam', cursive;
    text-transform: uppercase;
    font-size: 3.5vw;
    font-weight: bolder;
    letter-spacing: .3vw;
}

.phrase_accueil{
    color: #FAF7F5;
    position: relative;
    top: -55vw;
    left: 62vw;
    width: 35%;
}

.video_acueil{
    width: 70%;
    border-radius: 10px;
    margin-left: 12vw;
}

.text_kalam{
    font-family: 'Kalam', cursive;
    font-weight: 300;
    font-size: 1.5vw;
}

a{
    color: #F2A74A;
    text-decoration: none;
}

.text_accueil{
    background-color: rgb(25,74, 55, 0.9);
    color: #FAF7F5;
    position: relative;
    top: -22vw;
    left: 22vw;
    width: 40%;
    padding: 5%;
    border-radius: 10px;
    font-size: 1.5vw;
    font-weight: 400;
    letter-spacing: .1rem;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    margin-bottom: -26vw;
}

#titre_tcs{
    font-family: 'Zen Maru Gothic', sans-serif;
    font-weight: 500;
    font-size: 2vw;
    padding-bottom: 8%;
}

.text_vert{
    color: rgb(25,74, 55);
}

.text_inline{
    display: inline;
    line-height: 3vw;  /*verificar responsive */
}

.margin_video{
    padding: 5%;
    margin-top: -5vw;
}

.text_resultat{
    font-family: 'Kalam', cursive;
    font-size: 3vw;
    font-weight: 600;
}

.text_video{
    width: 65%;
    font-size: 1.5vw;
    font-weight: 400;
    letter-spacing: .1rem;
    margin-left: 8%;
    margin-bottom: 4%;
}

/* NOS ACTIONS */

.nos_actions{
    color: #FAF7F5;
    background-color: rgb(25,74, 55);
    padding: 5% 10%;
}

/* VOYAGES SOLIDAIRES */

.voyages_display{
    display: flex;
    justify-content: space-around ;
    padding: 6%;
}

.text_blue{
    color: #9BD6CA;
}

.taille_text{
    width: 60%;
    padding: 5% 7%;
    font-size: 1.5vw;
    line-height: 4vw;
}

.position_voyages{
    position: relative;
    left: 30vw;
    font-size: 2vw;
}

/* PARRAINAGES */

.back_etoils{
    background-image: url("/img/backsformRecurso 9@4x.png");
    background-size: contain;
}

.padding_left{
    padding-left: 5vw;
    width: 113%;
}

#parrainages{
    background-color: rgb(155, 214, 202, 0.25);
    padding: 3%;
}

#fond_vert{
    background-color: rgba(25,74, 55, 0.9);
    color:#FAF7F5;
    padding: 8%;
    width: 65%;
    border-radius: 10px;
    line-height: 1.8vw;
}

.text_center{
    text-align: center;
}

.width_text{
    margin: 0% 36%;
    font-size: 1.2vw;
}

.parrainages_display{
    display: flex;
    justify-content: space-around ;
    padding: 5%;
}

.img_width_gauche{
    width: 45%;
}

.img_width_droit{
    width: 45%;
}

.img_width{
    width: 100%;
}

.width_block{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display_inline{
    display:inline;
}

.text_width{
    font-size: 1.3vw;
    font-weight: 500;
    font-family: 'Zen Maru Gothic', sans-serif;
}

/*NOS PARTENAIRES */

.section_partenairs{
    padding: 4%;
}

.display_flex{
    display: flex;
}

.text-border{
    -webkit-text-stroke: 1px rgb(25,74, 55);
    color: transparent; 
}

.nos_partenaires{
    color: #FAF7F5;
    background-color: rgb(25,74, 55);
    padding: 5%;
    font-size: 3vw;
    font-weight: 100;
}

.separateur_vert{
    background-color:#194A37;
    height: 2rem;
}

.logo{
    width: 20%;
}

.logo_flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3%;
    gap: 15%;
}

/*CONTACTEZ-NOUS*/

.formulaire_blue{
    background-color: rgb(155, 214, 202, 0.9);
    color: #FAF7F5;
    padding: 10%;
    margin-left: -25%;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: end;
}

.margin_text{
    margin-bottom: 8%;
}

.display_contact{
    display: flex;
    padding: 3% 3% 0 3%;
}

.img_enfant{
    width: 46%;
    border-radius: 10px;
    max-height: 28vw;
}

.display_form{
    width: 55%;
    display: flex;
    flex-direction: column;
}

#contact_color::placeholder { 
    color:#FAF7F5; 
}

.input_contac{
    background-color: transparent;
    border-bottom: 2px solid #FAF7F5;
    width: 50%;
    padding: 2px;
}

.button_contact{
    width: 30%;
    padding: 5px;
    margin: 5% 0 15% 68%;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 1.1vw;
    letter-spacing: 1px;
}

button{
    background-color: #F2A74A;
    color: #FAF7F5;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

/* FOOTER */

.footer{
    background-color: rgb(25,74, 55);
}

.logo_footer{
    width: 15%;
    padding: 3%;
}


/* RESPONSIVE */

@media only screen and (max-width: 600px) {
    
    /* PARRAINAGES */


    .parrainages_display{
        flex-direction: column;
        align-items: center;
    }

    .width_block{
        width: 85%;
    }

    p{
        font-size: 2vw;
        margin-bottom: 0;
    }

    .text_width{
        font-size: 2.3vw;
    }

    .petite{
        font-size: 2vw;
    }

    .back_etoils{
        background-size: 70%;
    }
    /* NOS PARTENAIRES */
    
    .flex_xs{
        flex-direction: column;
    }

    /* CONTATEZ-NOUS */

    .display_contact{
        flex-direction: column-reverse;
        align-items: center;
    }

    .img_enfant{
        width: 67%;
        max-height: 48vw;
    }

    .formulaire_blue{
        padding: 5%;
        font-size: 1.5vw;
    }

    .button_contact{
        font-size: 1.5vw;
    }

}


/*****/
/**** PAGE NOS ACTIONS *****/
/*****/


/* HEADER */

.img_header{
    width: 100%;
}

.titre_tcs{
    font-family: 'Zen Maru Gothic', sans-serif;
    text-transform: uppercase;
    font-size: 2.6vw;
    text-align: right;
    position: relative;
    top: -28vw;
    left: 61vw;
    color: #FAF7F5;
    width: 35%;
    letter-spacing: .2vw;
}

.text_sineSaloum{
    font-family: 'Kalam', cursive;
    font-weight: lighter;
}

.p_header{
    width: 35%;
    position: relative;
    text-align: right;
    top: -26vw;
    left: 61vw;
    color: #FAF7F5;
    line-height: 2.2vw;
    font-size: 1.3vw;
    margin-bottom: -35vw;
}

.boder_header{
    background-color:  rgb(25,74, 55);
    padding: 2vw;
    color: #FAF7F5;
    text-align: right;
    font-family: 'Kalam', cursive;
    font-size: 2vw;
    letter-spacing: .2vw;
    position: relative;
    margin-bottom: 14vw;
    top: 13.5vw;
}

/* Un BANC, UNE ARBRE */

.background_bleu{
    background-color: rgb(155, 214, 202);
}

.un_banc{
    color: #FAF7F5;
}

.padding{
    padding: 3%;
}

.img_chantal{
    width: 75%;
    border-radius: 5px;
    position: relative;
    margin: 3vw 0;
}

.sous_titre{
    font-family: 'Zen Maru Gothic', sans-serif;
    font-size: 2vw;
    margin-left: 15vw;
}

.block_gauche{
    width: 60%;
}

.line_h{
    line-height: 2vw;
    width: 60%;
    margin-left: 15vw;
}

.arbre_baobab{
    width: 75%;
    position: relative;
    top: 25vw;
}

.video_banc_arbre{
    width: 110%;
    margin-bottom: -25vw;
    border-radius: 5px;
}

.fleche{
    width: 25%;
    position: relative;
    left: 36vw;
}

/* GIE */

.text_gie_droit{
    padding: 10%;
}

.block_gie_gauche{
    color: #FAF7F5;
    background-color: rgb(25,74, 55);
    padding: 6%;
    width: 60%;
    border-radius: 5px;
    margin-top: -5vw;
    position: relative;
}

.gie_img{
    width: 105%;
    border-radius: 5px;
}

.gie_video{
    width: 90%;
    border-radius: 5px;
    margin-left: 5vw;
}

/* PARRAINAGES */

.block_droitParrain{
    width: 80%;
}

.img_dansant{
    width: 80%;
    margin: 15% 5%;
}

.img_petite{
    width: 40%;
    position: relative;
    top: -14vw;
    left: 5vw;
    border-radius: 5px;
    margin-bottom: -12vw;
}

.text_educa{
    font-weight: bold;
    font-size: 1.5vw;
    margin-left: 15vw;
    line-height: 2.3vw;
    width: 64%;
}

.text_parrain{
    margin-left: 30vw;
    font-size: 1.3vw;
    line-height: 2.2vw;
    margin-top: -2vw;
    width: 45%;
}

.text_ecoles{
    font-size: 2.5vw;
    font-family: 'Zen Maru Gothic', sans-serif;
    font-weight: bold;
    margin-left: 5vw;
}

.img_jouant{
    margin-left: 23vw;
    width: 55%;
    border-radius: 5px;
}

.parrain_blockGauche{
    margin: 0 5%;
}

.text_enf{
    font-size: 1.3vw
}

/*  BOUTIQUE SOLIDAIRE */

.padding_boutique{
    padding: 3% 0 3% 3%;
}

.img_merchan{
    width: 45%;
}

.text_nee{
    width: 55%;
    background-color: white;
    padding: 6%;
    border-radius: 5px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    position: relative;
    left: 28vw;
    top: -10vw;
    margin-bottom: -12vw;
}

.text_date{
    font-family: 'Zen Maru Gothic', sans-serif;
    letter-spacing: .1vw;
    margin-bottom: 1.5vw;
}

.img_boutique{
    width: 50%;
}

.text_yayeme{
    font-weight: bold;
}

.text_jeunes{
    margin-left: 1vw;
    font-weight: lighter;
}

.text_marcel{
    font-family: 'Kalam', cursive;
    font-weight: 500;
    font-size: 1.5vw;
    width: 45%;
    text-align: right;
    letter-spacing: .2vw;
}

.div_marcel{
    position: relative;
    top: -5vw;
    margin-bottom: -4vw;
}

.div_icons{
    width: 90%;
    background-color: white;
    padding: 3% 3% 2% 3%;
    border-radius: 5px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.img_icon{
    width: 55%;
}

.icons_group{
    display: flex;
    font-weight: lighter;
    font-size: 1vw;
}

.text_light{
    font-weight: lighter;
}

.text_besoin{
    font-weight: lighter;
    font-size: 1.3vw;
    margin: 2vw 0;
}

.text_aide{
    font-weight: 500;
    padding: 0 10%;
    font-size: 1.2vw;
}

.back_img{
    background-image: url(/img/Boutique_Solidaire.jpg);
    background-position: 50% 0;
    background-size: 155%;
    width: 100%;
    margin: -3vw 0;
}

.titreBS{
    margin-left: -17vw;
    background-color: #faf7f562;
    padding: 3%;
    margin-top: 5%;
    text-align: center;
}

/* ECOLE BUISSONNIERER */

.text_toit{
    font-size: 1.5vw;
    margin-left: 5%;
}

.text_ecoleBui{
    width: 36%;
    background-color: #faf7f5bd;
    font-size: 1.2vw;
    line-height: 2vw;
    padding: 3%;
    position: relative;
    top: -12vw;
    margin-bottom: -12vw;
    border-radius: 5px;
}

.backgroudimg{
    margin: 0 5%;
    background-image: url(/img/Ecole_Buissoniere.jpg);
    height: 40vw;
    border-radius: 5px;
    background-position: 0% 95%;
    background-size: cover;
}

.negrita{
    font-weight: 600;
}

.margin_left{
    margin-left: 5%;
}

/* GOURMANDISES */

.line_height{
    line-height: 1.8vw;
}

.space_bottom{
    margin-bottom: 10%;
}

.block_gourmand{
    width: 40%;
    padding: 6% 8% 5% 8%;
}

.block_gourmanGauche{
    width: 60%;
    padding: 5%;
}

.text_gourman{
    font-size: 1.5vw;
    font-weight: 500;
    margin-top: 6vw;
    width: 115%;
    text-align: center;
    margin-left: -10vh;
}
.text_fruit{
    width: 75%;
    background-color: #FAF7F5;
    opacity: .8;
    margin: auto;
    padding: 5%;
    color: rgb(25,74, 55);
    border-radius: 5px;
    position: relative;
    top: -1vw;
}

.titre_fruit{
    font-weight: 600
}

#flech_droit{
    height: 3vw;
    top: 40vw;
    background-image: url("/img/flechdroitRecurso 9@4x.png") !important;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

#flech_gauche{
    background-image: url("/img/flechgaucheRecurso 10@4x.png") !important;
    height: 3vw;
    top: 40vw;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

/* RESPONSIVE */


@media only screen and (max-width: 600px) {

    .p_header{
        font-size: 1.7vw;
    }

    /* UN BANC UN ARBRE */

    .video_banc_arbre{
        width: 100%;
    }

    .img_chantal{
        margin: 3vw 10vw;
    }
    .sous_titre{
        margin-top: 12vw;
    }
    .arbre_baobab{
        width: 30%;
        top: 90vw;
    }

    h4{
        font-size: 2.5vw;
    }

    /* PARRAINAGE */

    .text_enf{
        font-size: 2vw;
    }

    .img_dansant{
        width: 70%;
    }

    .padding_left{
        width: 100%;
    }

    .block_droitParrain{
        width: 100%;
    }

    .text_educa{
        width: 50%;
        margin-left: 46vw;
    }

    .text_parrain{
        margin-left: 50vw;
        margin-top: 2vw;
    }

    .text_ecoles{
        font-size: 4vw;
    }

    /* BOUTIQUE */

    .text_nee{
        left: 42vw;
        top: -20vw;
    }

    .div_marcel{
        top: -24vw;
        margin-bottom: -8vw;
        left: -3vw;
    }

    .div_icons{
        width: 95%;
    }

    .text_aide, .text_besoin, .text_toit, .text_ecoleBui{
        font-size: 2vw;
    }

    .back_img{
        background-image: none;
    }

    .titreBS{
        margin-left: 0vw;
    }

    /* GOURMANDISES */

    .block_gourmanGauche{
        width: 100%;
    }

    .block_gourmand{
        width: 50%;
        margin: auto;
        margin-bottom: 10vw;
    }

    #flech_gauche, #flech_droit{
        top: 75vw;
    }

    .text_gourman{
        width: 100%;
        margin-left: 0vw;
        font-size: 2.2vw;
    }

    .line_height{
        line-height: 2.2vw;
    }
}



/*****/
/**** PAGE AGIR ENSEMBLE *****/
/*****/

/* HEADER */

.img_formation{
    width: 100%;
}

.div_agir{
    background-color: rgb(25,74, 55);
    color: #FAF7F5;
    padding: 5%;
    width: 40%;
    font-family: 'Zen Maru Gothic', sans-serif;
    position: relative;
    top: -20vw;
    left: 54vw;
    margin-bottom: -20vw;
    font-size: 1.2vw;
    letter-spacing: 0.1vw;
    border-radius: 5px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.letter_light{
    font-weight: 300;
}

.bold{
    font-weight: 500;
}

.div_porcent{
    width: 35%;
    padding: 3%;
    position: relative;
    left: 58vw;
    border-radius: 5px;
}

.text_porcent{
    font-size: 1.5vw;
    font-weight: 500;
}

.text_porcent2{
    font-size: 1.3vw;
    padding-left: 7vw;
}

.img_arbre{
    position: relative;
    left: 66vw;
    width: 20%;
    top: -2vw; 
    margin-bottom: -8vh;
}

.icon_arbre{
    width: 100%;
}

.position_titre{
    position: relative;
    top: -7vw;
    margin-bottom: -4vw;
    margin-left: 1vw;
}

.slider_soutiennent{
    width: 45%;
    background-color: rgb(25,74, 55);
    padding: 5%;
    border-radius: 5px;
}

.position_soutiennent{
    position: relative;
    top: -41vw;
    margin-bottom: -44vw;
}

#flech_d_agirE{
    height: 3vw;
    top: 35vw;
    background-image: url("/img/flechdroitRecurso 9@4x.png") !important;
    background-size: 25%;
    background-repeat: no-repeat;
    background-position: center;
}

#flech_g_agirE{
    background-image: url("/img/flechgaucheRecurso 10@4x.png") !important;
    height: 3vw;
    top: 35vw;
    background-size: 25%;
    background-repeat: no-repeat;
    background-position: center;
}

/* PARTENARIAT */

.display_partenariat{
    justify-content: center;

}

.text_partenariat{
    background-color: #FAF7F5;
    border: 7vw solid rgb(25,74, 55);
    padding: 5% 7%;
    width: 85%;
    color: rgb(25,74, 55);
    font-family: 'Zen Maru Gothic', sans-serif;
}

.icon_etoile{
    width: 5%;
    margin: 5%;
}

.text_etoile{
    display: flex;
    align-items: center;
    width: 70%;
    margin-left: 10vw;
    font-size: 1.3vw;
}

.titre_etoile{
    font-size: 1.6vw;
    margin-bottom: 5%;
}

/* P. SENEGAL */

.part_senegal{
    background-color: rgb(25,74, 55);
    width: 40%;
    padding: 4%;
    color: #FAF7F5;
    font-size: 1.2vw;
    font-weight: 300;
    border-radius: 5px;
}

.titre_part{
    text-transform: uppercase;
    font-size: 1.8vw;
    font-weight: 500;
    letter-spacing: .2vw;
}

.margin_gauche{
    margin: 4vh 0 0 4vh;
}

.logos_senegal{
    width: 25%;
    padding: 5%;
}

.img_logo{
    width: 100%;
}

.position_logoText{
    display: flex;
    justify-content: flex-start;
}

.paddingSlider{
    padding: 4% 5% 0% 5%;
}

/* P. FRANCE */

.part_france{
    width: 40%;
    padding: 5%;
    color: rgb(25,74, 55);
    font-size: 1.3vw;
    font-weight: 300;
    border-radius: 5px;
}

.background_vert{
    background-color: rgb(25,74, 55);
}
.position_logoTextDroit{
    display: flex;
    justify-content: flex-end;
}

.margin_topF{
    text-align: right;
}

/* ADHESION */

.space_around{
    display: flex;
    justify-content: space-around;
    width: 85%;
    margin: auto;
    position: relative;
    top: -3vw;
    line-height: 2vw;
}

.img_adhesion{
    width: 80%;
}

.benevole{
    width: 35%;
    padding: 5%;
    text-align: initial;
    color: #FAF7F5;
    border-radius: 5px;
    font-weight: 300;
}

.titre_bene{
    font-size: 1.6vw;
    font-weight: 400;
    margin-bottom: 2vw;
}

.icon_down{
    width: 10%;
}

.telecharge{
    margin: 14% 0 ;
}

.pdf_margin{
    margin-left: 10%;
}

@media only screen and (max-width: 600px) {

    .div_agir{
        width: 55%;
        top: -23vw;
        left: 45vw;
        margin-bottom: -22vw;
    }

    .position_titre{
        top: -12vw;
        margin-bottom: -6vw;
    }

    .responsive_flex{
        display: flex;
        flex-direction: column;
    }

    .slider_soutiennent{
        width: 100%;
    }

    .position_soutiennent{
        top: -12vw;
        left: -25vw;
        margin-bottom: 0vw;
    }

    .div_porcent{
        width: 55%;
        left: 51vw;
    }

    .text_porcent, .text_porcent2{
        font-size: 2vw;
    }

    .text_partenariat{
        width: 100%;
        font-size: 2vw;
    }

    h4, a{
        font-size: 2.5vw !important;
    }

    .position_logoText{
        flex-direction: column-reverse;
        align-items: center;
    }

    .logos_senegal{
        width: 60%;
    }

    .part_senegal, .part_france{
        width: 70%;
        font-size: 2vw;
    }

    .position_logoTextDroit{
        flex-direction: column;
        align-items: center;
    }

    .space_around{
        flex-direction: column;
        align-items: center;
    }
    .benevole{
        width: 85%;
    }

    .titre_bene{
        font-size: 2.3vw;
    }

    .telecharge{
        margin: 6% 0;
    }
}