*{
    margin: 0 auto;
    padding: 0 auto;
    box-sizing:border-box;
}
body{
    margin: 0;
    padding: 0;
}
#intro{
    position: relative;
    top: -200px;
    display: flex;
    background-color: rgb(25,74, 55, 0.88);
    text-align: center;
    height: 297px;
    width: 662px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 100px;
}
.assoc{
    font-weight: bold;
}
#mosaik{
    height: 900px;
    position: absolute;
    background-color: rgba(250, 247, 245, 0.88);
}
#cit{
    display: flex;
    justify-content: right;
}
#moz{ 
    width: 630px;
    height: 750px;
}
#pastelbox{
    position: relative;
    background-color: rgba(155, 214, 202, 0.88);
    width: 770px;
    height: 585px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: -670px;
    right: -400px;
    padding: 100px;
}
#surpla{
    font-weight: bold;
    position: relative;
    left: -75px;
}
p{
    color:white;
    font-family: 'Zen Maru Gothic', sans-serif;
}
h2{
    font-family: 'Kalam', cursive;
    color: #194A37;
    margin: 0;
    padding: 0;
}
.story {
    position: absolute;
}
.cest{
    background-color: rgb(25,74, 55, 0.88);
}
.chantal{
    font-weight: bold;
}
.story img{
    width: 350px;
    height: 350px;
}

/* font-family: 'Zen Maru Gothic', sans-serif;
    font-family: 'Kalam', cursive; */