{% extends 'base.html.twig' %}
{% block body %}

	{# HEADER #}

	<div>
		<img src="/img/Chantal_formation.png" alt="Formation avec Chantal" class="img_formation">
		<div class="div_agir">
			<h2 class="titre">agir ensemble</h2>
			<p>Une association vit grâce aux cotisations, aux subventions, aux dons, aux recettes provenant de la vente de ses produits et aux autres ressources qui ne sont pas contraires aux règles en vigueur.
			</p>
			<p class="letter_light">Particulier ou personne morale, votre don
				<spam class="bold">
					SANS CONTREPARTIE
				</spam>
				ouvre droit à une réduction d’impôts (dans les limites autorisées par l’administration fiscale).
			</p>
		</div>
	</div>

	{# SOUTIENNENT #}
	<h2 class="titre text_vert position_titre">ils nous soutiennent</h2>
	<div>
		<div class="width_slider slider_soutiennent">
			<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img src="/img/Collecte_pneus.jpg" class="d-block w-100" alt="Collecte pneus">
					</div>
					<div class="carousel-item">
						<img src="/img/Ensamble.jpg" class="d-block w-100" alt="Ensaamble">
					</div>
					<div class="carousel-item">
						<img src="/img/Nettoyage_plage.jpg" class="d-block w-100" alt="Nettoyage">
					</div>
					<div class="carousel-item">
						<img src="/img/TCS_Site_Tri_255.jpg" class="d-block w-100" alt="Tri">
					</div>
					<div class="carousel-item">
						<img src="/img/Tri_banc_arbre.jpg" class="d-block w-100" alt="Tri pour un Banc">
					</div>
					<div class="carousel-item">
						<img src="/img/Tri_ensemble.jpg" class="d-block w-100" alt="Tri ensemble">
					</div>
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev" id="flech_g_agirE">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next" id="flech_d_agirE">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
		</div>
		<div class="position_soutiennent">
			<div class="text_vert background_bleu div_porcent">
				<p class="text_porcent">Terres et Cultures Solidaires consacre moins de 3 % de son budget à ses frais de gestion.</p>
				<p class="text_porcent2">C'est donc 97 % qui bénéficient à toutes les actions menées sur le terrain.</p>
				<p class="text_porcent2">Pour développer nos actions, devenez bénévoles actifs. Toute aide ponctuelle ou sur la durée est bienvenue.</p>
			</div>
			<div class="img_arbre"><img src="/img/arbre_vert.png" alt="arbre vert logo" class="icon_arbre"></div>
		</div>
	</div>

	{# PARTENARIAT #}

	<div class="display_flex display_partenariat">
		<div class="text_partenariat">
			<h4 class="titre_etoile">Avoir un partenariat avec quelqu’un
			</h4>
			<div class="text_etoile">
				<img src="/img/etoilevert.png" alt="etoile" class="icon_etoile">
				<p>C’est monter une action commune entre des organismes différents dans un but déterminé.</p>
			</div>
			<div class="text_etoile">
				<img src="/img/etoilevert.png" alt="etoile" class="icon_etoile">
				<p>Le partenaire est la personne, le groupe, la collectivité, l'organisme ou l'entité avec laquelle on s'associe ou on s'allie pour réaliser une action commune.</p>
			</div>
			<div class="text_etoile">
				<img src="/img/etoilevert.png" alt="etoile" class="icon_etoile">
				<p>C'est tout à fait ce qui rassemble les intervenants cités dans les pages France et Sénégal.</p>
			</div>
		</div>
	</div>

	{# PARTENAIRE SÉNÉGAL #}
	<div class="padding">
		<h3 class="text-border titre">sénégal</h3>

		<div class="part_senegal">
			<p class="titre_part">Villa Leonore</p>
			<p class="margin_gauche">Maison d'hôtes à Ngaparou: 40 minutes de l'aéroport de Dakar, la Villa Léonore vous accueille dans un cadre agréable à 100 mètres de la plage de sables. Avec le petit déjeuner inclus, nous vous proposons différents services afin de rendre votre séjour inoubliable</p>
		</div>
		<div class="background_bleu logos_senegal">
			<img src="/img/Villa_Leonore.png" alt="Logo Villa Leonore" class="img_logo">
		</div>

		<div class="part_senegal">
			<p class="titre_part">Le Flamboyant</p>
			<p class="margin_gauche">Groupe de sénégalais qui proposent des circuits adaptés à vos envies. Grâce à un réseau de structures locales (hôtels, campements, associations), le Flamboyant vous permet de sortir, de  partager la culture locale, la possibilité de loger chez l'habitant et de participer à des ateliers loisirs (musique, cuisine, etc).
			</p>
		</div>
		<div class="background_bleu logos_senegal">
			<img src="/img/logo_nouvelle_aquitaine.png" alt="Logo Nouvelle Aquitaine" class="img_logo">
		</div>

		<div class="part_senegal">
			<p class="titre_part">La Source aux Lamantins</p>
			<p class="margin_gauche">Un établissement intégré dans la nature dans un esprit poétique et romantique. Un ponton directement sur le bras de mer, il vous accueille pour une cuisine pleine de saveur avec un mariage subtile entre les produits locaux et les épices.
			</p>
		</div>
		<div class="background_bleu logos_senegal">
			<img src="/img/Source_aux_lamantins.png" alt="Logo Source aux lamantins" class="img_logo">
		</div>
	</div>

	{# PARTENAIRES FRANCE #}

	<div class="padding">
		<h3 class="text-border titre">france</h3>
		<div class="logos_senegal background_vert"><img src="/img/engie.png" alt="Logo ENGIE" class="img_logo"></div>
		<div class="background_bleu part_france">
			<p class="titre_part">ENGIE</p>
			<p class="margin_gauche">La Fondation accorde un soutien financier et logistique pour les projets qui ont une vraie implantation locale, soutenu et suivi par les Collaborateurs du Groupe ENGIE.
			</p>
		</div>
		<div class="logos_senegal background_vert"><img src="/img/Logo_credit_mutuel.png" alt="Logo Crédit-Mutuel" class="img_logo"></div>
		<div class="background_bleu part_france">
			<p class="titre_part">Crédit-Mutuel</p>
			<p class="margin_gauche">l'engagement est l'ADN de cette banque. Le Crédit Mutuel est une coopérative qui privilégie 1,3 million d'associations. Il apporte son soutien à des actions concrètes dans le domaine de la culture, de la formation et de la solidarité</p>
		</div>
		<div class="logos_senegal background_vert"><img src="/img/Logo_Communne_de_Diofior.png" alt="Logo Au Pré de Justin" class="img_logo"></div>
		<div class="background_bleu part_france">
			<p class="titre_part">Au Pré de Justin</p>
			<p class="margin_gauche">Partage - Entraide - Intégration, activités ouvertes à tous les publics, en donnant la priorité aux personnes handicapées. L'objectif principal est de valoriser les capacités de chacun. Ici toutes les personnes prennent du plaisir et se sentent comme dans une "grande famille", celle de Justin
			</p>
		</div>
	</div>

	{# ADHESION #}

	<div class="background_bleu padding text_center">
		<h2 class="titre text_vert">adhesion</h2>
		<img src="/img/Adhesions_005.jpg" alt="Presentation projet" class="img_adhesion">
		<div class="space_around">
			<div class="benevole background_vert">
				<p class="titre_bene">Devenir bénévole</p>
				<p>Pour développer nos actions, devenez bénévoles actifs. Toute aide ponctuelle ou sur la durée est la bienvenue.
				</p>
				<p>Particulier ou personne morale, votre don SANS CONTREPARTIE ouvre droit à une réduction d’impôts (dans les limites autorisées par l’administration fiscale).</p>
			</div>
			<div class=" benevole background_vert">
				<p class="titre_bene">Documents téléchargeables</p>
				<div class="telecharge">
					<img src="/img/icons-download.png" alt="icon download" class="icon_down">
					<a href="/PDF/Bulletin parrainage 2021-2022.pdf" download="/PDF/Bulletin parrainage 2021-2022.pdf" class="pdf_margin">Bulletin d'adhésion 2021.pdf</a>
				</div>
				<div class="telecharge">
					<img src="/img/icons-download.png" alt="icon download" class="icon_down">
					<a href="/public/PDF/Statuts de l'association_2.pdf" download="/public/PDF/Statuts de l'association_2.pdf" class="pdf_margin">Status de l'association.pdf</a>
				</div>
				<div class="telecharge">
					<img src="/img/icons-download.png" alt="icon download" class="icon_down">
					<a href="/PDF/RIB CREDIT MUTUEL_2.pdf" download="/PDF/RIB CREDIT MUTUEL_2.pdf" class="pdf_margin">RIB CREDIT MUTUEL.pdf</a>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
