{% extends 'base.html.twig' %}
{% block body %}

	<div>
		{# HEADER #}
		<img src="/img/maçons_header.png" alt="Maçons" class="img_header">
		<h3 class="titre_tcs">terres et cultures solidaires</h3>
		<p class="p_header">entreprend de nombreuses actions sur place dans le
			<spam class="text_sineSaloum">Sine Saloum</spam>. La priorité est donnée à l'éducation, à la santé, à la création d'emplois et à l'environnement. C'est grâce à une belle chaîne de solidarité qui s'est créée en France que des projets ont été financés et menés à bien au Sénégal.
		</p>
		<p class="boder_header">N'hésitez pas à venir nous rejoindre !</p>
	</div>

	{# UN BANC, UN ARBRE #}
	<section class="outer_wrapper background_bleu">
		<div class="wrapper text_vert">
			<div class="padding display_flex">
				<div>
					<h2 class="titre un_banc">un banc, un arbre</h2>
					<p>Notre association est très fière de vivre une telle aventure.
						<br>Au Sénégal, les compétences et les savoir-faire ne manquent pas !</p>
					<video src="/video/TCS UnbancUnarbre.mp4" autoplay loop class="video_banc_arbre"></video>
					<img src="/img/arbresRecurso 4@4x.png" alt="icon de baobab" class="arbre_baobab">
				</div>
				<div>
					<h4 class="sous_titre">Le projet</h4>
					<p class="line_h">plantation d'un arbre à chaque fois qu'un banc est construit dans une école (un lycée, un collège, une école primaire ou un centre de formation professionnel) situés sur les communes de Fimela et Diofior (dans le département de Fatick, sur la côte Atlantique du Sénégal), banc érigé grâce à la récupération dans la nature de déchets plastiques et de pneus usagés.
					</p>
					<img src="/img/Chantal_Bourajpg.jpg" alt="Chantal et Boura" class="img_chantal">
					<img src="/img/flechaRecurso 5@4x.png" alt="flech_a_droit" class="fleche">
				</div>
			</div>
		</div>
	</section>

	{# GIE #}
	<section class="padding">
		<h2 class="titre text_vert text_center">GIE</h2>
		<div class="display_flex">
			<div>
				<video src="/video/TCS GIE.mp4" autoplay loop class="gie_video"></video>
				<div class="block_gie_gauche">
					<h4>Mise en place du cadre administratif</h4>
					<p>Terres et Cultures Solidaires (TCS) et son partenaire le Grenier des initiatives locales pour le développement (GILD) se sont retrouvés pour formaliser un projet visant à renforcer par la formation, le partenariat féminin de six GIE des villages de Simal, Djilor, Yayeme et Fimela, afin d’apporter des outils et des connaissances pour accentuer la gouvernance de ces GIE permettant d’optimiser un réel développement économique.
					</p>
				</div>
			</div>
			<div class="block_gie_droit">
				<p class="text_vert text_gie_droit">Pour démarrer un cadre administratif rigoureux s’impose avec l’établissement d’une convention de stage et de partenariat avec chacun des GIE.<br>
					Un règlement intérieur, des bulletins d'inscription, des planning selon les modules, etc. doivent être également établis. S’ajoute la recherche conjointe de financement pour aller jusqu'au bout. Et c’est la synergie entre nos deux associations qui permet ce fantastique travail.
				</p>
				<img src="/img/GIE_group_femmes.jpg" alt="Group de femmes GIE" class="gie_img">
			</div>
		</div>
		<div></div>
	</section>

	{# PARRAINAGES #}
	<section class="background_bleu text_vert display_flex padding">
		<div class="parrain_blockGauche">
			<h2 class="titre">parrainage</h2>
			<p class="text_enf">Parrainer un enfant, c'est lui permettre de devenir acteur de sa vie...</p>
			<div class="back_etoils padding_left">
				<img src="/img/fille_dansant.jpg" alt="Filles  dansant" class="img_dansant"></div>
		</div>
		<div class="block_droitParrain">
			<div>
				<p class="text_educa">L'éducation favorise  le lien social avec d'autres enfants et aussi avec les adultes que sont les enseignants.</p>
				<p class="text_parrain">Elle permet de s'ouvrir vers l'extérieur, de s'épanouir et de trouver une place de citoyen dans le tissu social et amical de son village. Elle lui permet aussi de développer sa personnalité, de faire accepter sa différence, de gagner en autonomie et de pouvoir aussi construire sa future vie d'adulte.
				</p>
				<img src="/img/petite_fille.jpg" alt="Petite fille" class="img_petite">
			</div>
			<h4 class="text-border text_ecoles">Le parrainage au sein des écoles de la commune de Fimela</h4>
			<img src="/img/enfants_jouant.jpg" alt="Enfants jouant" class="img_jouant">
		</div>
	</section>

	{# BOUTIQUE SOLIDAIRE #}
	<section class="text_vert padding_boutique display_flex">
		<div>
			<img src="/img/Boutique_Solidaire_merchan.jpg" alt="Boutique merchan" class="img_merchan">
			<div class="text_nee">
				<h4 class="text_date">Née en 2015</h4>
				<p class="text_jeunes">
					à l’initiative de jeunes du village de Fimela. Elle se charge de vendre des articles ramenés de France ou d'ailleurs par l’équipe de Terres et Cultures solidaires.
				</p>
				<p class="text_jeunes">Dès sa première ouverture qui a eu lieu dans la cour de
					<spam class="text_yayeme">l’Ecole des Parents de Yayème
					</spam>, c’est toute une dynamique locale qui s'est mise en place.</p>
			</div>
			<div class="div_marcel">
				<p class="text_marcel">“ La charité est blessante pour celui qui l’a acceptée. ”</p>
				<p class="text_marcel">Marcel Maus</p>
			</div>
			<div class="div_icons">
				<p class="text_aide">Si vous venez au Sénégal, si vous êtes en vacances ou résidents et si vous avez un peu de place dans vos bagages, pensez à nous!!!</p>
				<p class="text_besoin">Les besoins les plus forts sont</p>
				<div class="icons_group">
					<div>
						<p>Gilts de sauvetage</p><img src="/img/gilet-de-protection.png" alt=" icon gilets de sauvetage" class="img_icon"></p>
				</div>
				<div>
					<p>Sacs à docs</p><img src="/img/sac-a-dos.png" alt="Icon Sacs à dos" class="img_icon"></div>
				<div>
					<p>T-shirt</p><img src="/img/camisa.png" alt="Icon T-shirt" class="img_icon"></div>
				<div>
					<p>Chaussures</p><img src="/img/zapatos.png" alt="Icon Chaussures" class="img_icon"></div>
				<div>
					<p>Pantalons</p><img src="/img/vaqueros-2.png" alt="Icon Pantalo" class="img_icon"></div>
			</div>
		</div>
	</div>
	<div class="back_img">
		<h2 class="titre titreBS">boutique solidaire</h2>
	</div>
</section>

{# ECOLE BUISSONNIERER #}
<section class="outer-wrapper padding text_vert">
	<h2 class="titre margin_left">école buissonnnière</h2>
	<p class="text_toit">Un toit pour l'école</p>
	<div class="backgroudimg">{# <p>a</p> #}
		{# <img src="/img/Ecole_Buissoniere.jpg" alt="Group école buissonnière" class="img_ecole"> #}
	</div>
	<p class="text_ecoleBui">Notre association propose une série d’ateliers thématiques dans le cadre scolaire, hors des heures de leçons. Nous visons à l’approfondissement des connaissances des élèves de primaire et de collège sur le développement durable, afin qu’ils puissent développer une
		<spam class="negrita">conscience de la richesse et de la fragilité de leur environnement.</spam>
	</p>
</section>

{# GOURMANDISES #}
<section class="padding display_flex">
	<div class="block_gourmanGauche">
		<h2 class="titre text_blue text_center space_bottom">les gourmandises du sine saloum</h2>
		<div class="text_vert line_height">
			<p>Grâce à un écosystème naturel très diversifié, le Sine Saloum est une terre où poussent arachides, mangues, bananes, papayes, fruits de palmiers roniers, etc.
			</p>
			<p>Les Gourmandises du Sine Saloum permettent ainsi à plusieurs personnes de travailler directement à temps plein en période de production tout en augmentant le niveau de vie de tous les intervenants.
			</p>
			<p>Ces fruits séchés sont faits à partir de fruits gorgées de soleil. Aucun ajout! Pour vous permettre de les apprécier encore plus, un livre de cuisine est mis en place. Il comporte des recettes faciles à élaborer qui ont été inventées, améliorées ou transformées par Chantal passionnée de cuisine et qui vit une grande partie de l'année à Fimela.
			</p>
			<p>Les ingrédients rentrant dans la composition des plats proposés comme les mangues et bananes séchées, les cacahuètes, les noix de cajou, le bissap proviennent tous de cultures locales.
			</p>
		</div>
		<p class="text_vert text_gourman">Les « Gourmandises du Sine Saloum » ont vu le jour en 2015 pour valoriser et conserver ces fruits et légumes tout en réduisant les pertes après récolte.</p>
	</div>
	<div class="background_bleu block_gourman">
		<div class="width_slider">
			<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img src="/img/Bananes.png" class="d-block w-100" alt="Bananes">
					</div>
					<div class="carousel-item">
						<img src="/img/Bissap.png" class="d-block w-100" alt="Bissap">
					</div>
					<div class="carousel-item">
						<img src="/img/Kinkeliba.png" class="d-block w-100" alt="Kinkeliba">
					</div>
					<div class="carousel-item">
						<img src="/img/Mangues.png" class="d-block w-100" alt="Mangues">
					</div>
					<div class="carousel-item">
						<img src="/img/Moringa.png" class="d-block w-100" alt="Moringa">
					</div>
					<div class="carousel-item">
						<img src="/img/Noix_de_cajou.png" class="d-block w-100" alt="Noix de cajou">
					</div>
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
		</div>
	</div>
</section>{% endblock %}
