
li>a{
    text-decoration: none;
}

.card-body>a{
    text-align: center;
    justify-content: center;
    display: flex;
    width: 25%;
    margin: auto;
}

.container{
    margin: 0 auto;
    width: 80%;
}

h6{
    margin-left:10px;
    color: #e95420;
    margin-top: 10px;
}

span.voyages{
    font-weight: bold;
    color: #e95420;
    
}

#details,#infopra,#jour,#engagements,#presentation{
    padding-left:15px;
}

.tarif{
    text-align: center;
}